html {
  padding: 2rem;
}
body {
  font-family: sans-serif;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
p, ul, ol {
  font-size: 1rem;
  line-height: 1.5rem;
}
h1, h2, h3 {
  font-family: 'Space Mono', monospace;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #000;
  }
}
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #fff;
  }
}
a {
    color: #01a0e4;
}
a:visited {
    color: #a16a94;
}
