html {
  padding: 2rem;
}
body {
  font-family: 'Space Mono', monospace;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
header {
  text-align: center;
  padding: 1rem;
}
header h1 {
  text-transform: uppercase;
  font-weight: 400; 
}
img.profile {
  display: block; 
  max-width: 85%;
  min-width: 100px;
  height: auto;
  margin: auto; 
  border-radius: 50%;
}
div.menu {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
}
div.menu div {
  margin: 1rem;
}
@media screen and (min-width: 500px) {
  img.profile {
    max-width: 350px;
  }
  div.menu div {
    display: inline;
  }
}
p, ul, ol {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #000;
  }
  a, a:visited {
    color: #3344dd;
  }
}
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #fff;
  }
  a, a:visited {
    color: #01a0e4;
  }
}


